<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>My Betting History</h1>
        <hr>
        <h2>History</h2>
        <h3>2018.06.23 pm 05:55</h3>
            <div class="panel panel-default clear-fix">
                <div class="panel-body">
                    <ul class="list-group">
        
                        <li class="list-group-item">
                       
                        <div class="pull-left"> Korea vs Sweden (Win) |  | </div>
                        <div class="pull-light"> <strong style="color:red;">5464</strong> point</div>
                        
                        </li>
        
                        <li class="list-group-item">

                        <div class="pull-left">  Korea vs Germany (Draw) |  | </div>
                        <div class="pull-light"> <strong style="color:red;">5464</strong> point</div>

                       
                        </li>

                      
                    </ul>
                </div>
                <div class="panel-footer">Total Bet Point : 
                    <strong style="color:red">50236</strong> Point</div>
            </div>

    </div>
</div>