
<div class="chat" style="margin-top:100px;">
    <div class="chat-box">


    </div>
</div>

<div class="chat-user">
    <form id="form-chat" class="form=inline">
        <div class="form-group">
            <input type="text" class="form-control" id ="username" name="username" value="">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="text-chat" name="textchat" value="">
        </div>
        <button type="submit" name="button" class="btn btn-default">SEND</button>
    </form>
</div>
<script type="text/javascript">
    var socket = io();

    socket.on('chat message', function(msg){
        var li = "<li><strong>" + msg.username + " : </strong>" + msg.message + "</li>";
        $('.chat-box').append(li);
        $('.chat-box').animate({scrollTop: $('.chat-box').prop('scrollHeight')}, 200);
    });

    $(document).ready(function(){
        $('#form-chat').submit(function(event){
            var data = {
                username : $('#username').val(),
                message : $('#text-chat').val()
            };
            if (data.username !== '' && data.message !== ''){
                socket.emit('new message', data);
                $('#text-chat').val('');
            }
            event.preventDefault();
        });
    });
</script>