{{ title }}

<div style="text-align:center" class="container">
      <div class="row" style="text-align:center;">
        <div class="col-xs-12 col-sm-12">
            <table  class="table table-hover table-bordered">
                <caption style="color:black;">GROUP STAGE</caption>
                <thead style="background-color:black;">
                    <tr>
                        <th class="col-xs-2 col-sm-2">Date</th>
                        <th class="col-xs-2 col-sm-2">Kick-off (BST)</th>
                        <th class="col-xs-2 col-sm-2">Group</th>
                        <th class="col-xs-2 col-sm-2">Match</th>
                        <th class="col-xs-2 col-sm-2">Venue</th>
                        <th class="col-xs-2 col-sm-2">Join the Betting!</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>6/14</td>
                        <td>4pm</td>
                        <td>(A)</td>
                        <td>Russia Saudi Arabia</td>
                        <td>Moscow (Luzhniki)</td>
                        <td>5-0</td>
                    </tr>
                    <tr>
                        <td>6/15</td>
                        <td>1pm</td>
                        <td>(A)</td>
                        <td>Egypt Uruguay</td>
                        <td>Ekaterinburg</td>
                        <td>0-1</td>
                    </tr>
                    <tr>
                        <td>6/15</td>
                        <td>4pm</td>
                        <td>(B)</td>
                        <td>Morocco Iran</td>
                        <td>St Petersburg</td>
                        <td>0-1</td>
                    </tr>
                    <tr>
                        <td>6/15</td>
                        <td>7pm</td>
                        <td>(B)</td>
                        <td>Portugal Spain</td>
                        <td>Sochi</td>
                        <td>3-3</td>
                    </tr>
                    <tr>
                        <td>6/16</td>
                        <td>11am</td>
                        <td>(C)</td>
                        <td>France Australia</td>
                        <td>Kazan</td>
                        <td>2-1</td>
                    </tr>
                    <tr>
                        <td>6/16</td>
                        <td>2pm</td>
                        <td>(D)</td>
                        <td>Argentina Iceland (D)</td>
                        <td>Moscow (Spartak)</td>
                        <td>1-1</td>
                    </tr>
                    <tr>
                        <td>6/16</td>
                        <td>5pm</td>
                        <td>(C)</td>
                        <td>Saransk</td>
                        <td>Moscow (Luzhniki)</td>
                        <td>0-1</td>
                    </tr>
                    <tr>
                        <td>6/16</td>
                        <td>8pm</td>
                        <td>(D)</td>
                        <td>Croatia Nigeria</td>
                        <td>Kaliningrad</td>
                        <td>2-0</td>
                    </tr>
                    <tr>
                        <td>6/17</td>
                        <td>1pm</td>
                        <td>(E)</td>
                        <td>Costa Rica Serbia</td>
                        <td>Samara</td>
                        <td>0-1</td>
                    </tr>
                    <tr>
                        <td>6/17</td>
                        <td>4pm</td>
                        <td>(F)</td>
                        <td>Germany Mexico</td>
                        <td>Moscow (Luzhniki)</td>
                        <td>0-1</td>
                    </tr>
                    <tr>
                        <td>6/17</td>
                        <td>7pm</td>
                        <td>(E)</td>
                        <td>Brazil Switzerland</td>
                        <td>Rostov-on-Don</td>
                        <td>1-1</td>
                    </tr>
                    <tr>
                        <td>6/18</td>
                        <td>1pm</td>
                        <td>(F)</td>
                        <td>Sweden v South Korea</td>
                        <td>Nizhny Novgorod</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6/18</td>
                        <td>4pm</td>
                        <td>(G)</td>
                        <td>Belgium v Panama</td>
                        <td>Sochi</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6/18</td>
                        <td>7pm</td>
                        <td>(G)</td>
                        <td>Tunisia v England</td>
                        <td>Volgograd</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6/19</td>
                        <td>1pm</td>
                        <td>(H)</td>
                        <td>Poland v Senegal</td>
                        <td>Moscow (Spartak)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6/19</td>
                        <td>4pm</td>
                        <td>(H)</td>
                        <td>Colombia v Japan</td>
                        <td>Saransk</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6/19</td>
                        <td>7pm</td>
                        <td>(A)</td>
                        <td>Russia v Egypt</td>
                        <td>St Petersburg</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6/20</td>
                        <td>1pm</td>
                        <td>(B)</td>
                        <td>Portugal v Morocco</td>
                        <td>Moscow (Luzhniki)</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/20</td>
                        <td>4pm</td>
                        <td>(A)</td>
                        <td>Uruguay v Saudi Arabia</td>
                        <td>Rostov-on-Don</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/20</td>
                        <td>7pm</td>
                        <td>(B)</td>
                        <td>Iran v Spain</td>
                        <td>Kazan</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/21</td>
                        <td>1pm</td>
                        <td>(C)</td>
                        <td>France v Peru</td>
                        <td>Ekaterinburg</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/21</td>
                        <td>4pm</td>
                        <td>(C)</td>
                        <td>Denmark v Australia</td>
                        <td>Samara</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/21</td>
                        <td>7pm</td>
                        <td>(D)</td>
                        <td>Argentina v Croatia</td>
                        <td>Nizhny Novgorod</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/22</td>
                        <td>1pm</td>
                        <td>(E)</td>
                        <td>Brazil v Costa Rica</td>
                        <td>St Petersburg</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/22</td>
                        <td>4pm</td>
                        <td>(D)</td>
                        <td>Nigeria v Iceland</td>
                        <td>Volgograd</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/22</td>
                        <td>7pm</td>
                        <td>(E)</td>
                        <td>Serbia v Switzerland</td>
                        <td>Kaliningrad</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/23</td>
                        <td>1pm</td>
                        <td>(G)</td>
                        <td>Belgium v Tunisia</td>
                        <td>Moscow (Spartak)</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/23</td>
                        <td>4pm</td>
                        <td>(F)</td>
                        <td>Germany v Sweden</td>
                        <td>Sochi</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/23</td>
                        <td>7pm</td>
                        <td>(F)</td>
                        <td>South Korea v Mexico</td>
                        <td>Rostov-on-Don</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/24</td>
                        <td>1pm</td>
                        <td>(G)</td>
                        <td>England v Panama</td>
                        <td>Nizhny Novgorod</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/24</td>
                        <td>4pm</td>
                        <td>(H)</td>
                        <td>Japan v Senegal</td>
                        <td>Ekaterinburg</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/24</td>
                        <td>7pm</td>
                        <td>(H)</td>
                        <td>Poland v Colombia</td>
                        <td>Kazan</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/25</td>
                        <td>3pm</td>
                        <td>(A)</td>
                        <td>Uruguay v Russia</td>
                        <td>Samara</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/25</td>
                        <td>3pm</td>
                        <td>(A)</td>
                        <td>Saudi Arabia v Egypt</td>
                        <td>Volgograd</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/25</td>
                        <td>7pm</td>
                        <td>(B)</td>
                        <td>Spain v Morocco</td>
                        <td>Kaliningrad</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/25</td>
                        <td>7pm</td>
                        <td>(B)</td>
                        <td>Iran v Portugal</td>
                        <td>Saransk</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/26</td>
                        <td>3pm</td>
                        <td>(C)</td>
                        <td>Denmark v France</td>
                        <td>Moscow (Luzhniki)</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/26</td>
                        <td>3pm</td>
                        <td>(C)</td>
                        <td>Australia v Peru</td>
                        <td>Sochi</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/26</td>
                        <td>7pm</td>
                        <td>(D)</td>
                        <td>Nigeria v Argentina</td>
                        <td>St Petersburg</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/26</td>
                        <td>7pm</td>
                        <td>(D)</td>
                        <td>Iceland v Croatia</td>
                        <td>Rostov-on-Don</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/27</td>
                        <td>3pm</td>
                        <td>(F)</td>
                        <td>South Korea v Germany</td>
                        <td>Kazan</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/27</td>
                        <td>3pm</td>
                        <td>(F)</td>
                        <td>Mexico v Sweden</td>
                        <td>Ekaterinburg</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/27</td>
                        <td>7pm</td>
                        <td>(E)</td>
                        <td>Serbia v Brazil</td>
                        <td>Moscow (Spartak)</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/27</td>
                        <td>7pm</td>
                        <td>(E)</td>
                        <td>Switzerland v Costa Rica</td>
                        <td>Nizhny Novgorod</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/28</td>
                        <td>3pm</td>
                        <td>(H)</td>
                        <td>Japan v Poland</td>
                        <td>Volgograd</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/28</td>
                        <td>3pm</td>
                        <td>(H)</td>
                        <td>Senegal v Colombia</td>
                        <td>Samara</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/28</td>
                        <td>7pm</td>
                        <td>(G)</td>
                        <td>England v Belgium</td>
                        <td>Kaliningrad</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/28</td>
                        <td>7pm</td>
                        <td>(G)</td>
                        <td>Panama v Tunisia</td>
                        <td>Saransk</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
       <div class="row" style="text-align:center;">
        <div class="col-xs-12 col-sm-12">
            <table  class="table table-hover table-bordered">
                <caption style="color:black;">LAST 16</caption>
                <thead style="background-color:black;">
                    <tr>
                        <th class="col-xs-2 col-sm-2">Date</th>
                        <th class="col-xs-2 col-sm-2">Kick-off (BST)</th>
                        <th class="col-xs-2 col-sm-2">Group</th>
                        <th class="col-xs-2 col-sm-2">Match</th>
                        <th class="col-xs-2 col-sm-2">Venue</th>
                        <th class="col-xs-2 col-sm-2">Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>6/30</td>
                        <td>3pm</td>
                        <td></td>
                        <td>1C v 2D (Match 50)</td>
                        <td>Kazan</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/30</td>
                        <td>7pm</td>
                        <td></td>
                        <td>1A v 2B (Match 49)</td>
                        <td>Sochi</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>7/1</td>
                        <td>3pm</td>
                        <td></td>
                        <td>1B v 2A (Match 51)</td>
                        <td>Moscow</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>7/1</td>
                        <td>7pm</td>
                        <td></td>
                        <td>1D v 2C (Match 52)</td>
                        <td>Nizhny Novgorod</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>7/2</td>
                        <td>3pm</td>
                        <td></td>
                        <td>1E v 2F (Match 53)</td>
                        <td>Samara</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>7/2</td>
                        <td>7pm</td>
                        <td></td>
                        <td>1G v 2H (Match 54)</td>
                        <td>Rostov-on-Don</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>7/3</td>
                        <td>3pm</td>
                        <td></td>
                        <td>St Petersburg</td>
                        <td>1F v 2E (Match 55)</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>7/3</td>
                        <td>7pm</td>
                        <td></td>
                        <td>1H v 2G (Match 56)</td>
                        <td>Moscow (Spartak)</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
      <div class="row" style="text-align:center;">
        <div class="col-xs-12 col-sm-12">
            <table  class="table table-hover table-bordered">
                <caption style="color:black;">QUARTER-FINALS</caption>
                <thead style="background-color:black;">
                    <tr>
                        <th class="col-xs-2 col-sm-2">Date</th>
                        <th class="col-xs-2 col-sm-2">Kick-off (BST)</th>
                        <th class="col-xs-2 col-sm-2">Group</th>
                        <th class="col-xs-2 col-sm-2">Match</th>
                        <th class="col-xs-2 col-sm-2">Venue</th>
                        <th class="col-xs-2 col-sm-2">Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>7/6</td>
                        <td>3pm</td>
                        <td></td>
                        <td>Winner 49 v winner 50 (57)</td>
                        <td>Nizhny Novgorod</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>7/6</td>
                        <td>7pm</td>
                        <td></td>
                        <td>Winner 53 v winner 54 (58)</td>
                        <td>Kazan</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>7/7</td>
                        <td>3pm</td>
                        <td></td>
                        <td>Winner 55 v winner 56 (60)</td>
                        <td>Samara</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>7/7</td>
                        <td>7pm</td>
                        <td></td>
                        <td>Winner 51 v winner 52 (59)</td>
                        <td>Sochi</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
      <div class="row" style="text-align:center;">
        <div class="col-xs-12 col-sm-12">
            <table  class="table table-hover table-bordered">
                <caption style="color:black;">SEMI-FINALS</caption>
                <thead style="background-color:black;">
                    <tr>
                        <th class="col-xs-2 col-sm-2">Date</th>
                        <th class="col-xs-2 col-sm-2">Kick-off (BST)</th>
                        <th class="col-xs-2 col-sm-2">Group</th>
                        <th class="col-xs-2 col-sm-2">Match</th>
                        <th class="col-xs-2 col-sm-2">Venue</th>
                        <th class="col-xs-2 col-sm-2">Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>7/10</td>
                        <td>7pm</td>
                        <td></td>
                        <td>Winner 57 v winner 58</td>
                        <td>St Petersburg</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                    <tr>
                        <td>7/11</td>
                        <td>7pm</td>
                        <td></td>
                        <td>Winner 59 v winner 60</td>
                        <td>Moscow (Luzhniki)</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
      <div class="row" style="text-align:center;">
        <div class="col-xs-12 col-sm-12">
            <table  class="table table-hover table-bordered">
                <caption style="color:black;">THIRD-PLACE PLAY-OFF</caption>
                <thead style="background-color:black;">
                    <tr>
                        <th class="col-xs-2 col-sm-2">Date</th>
                        <th class="col-xs-2 col-sm-2">Kick-off (BST)</th>
                        <th class="col-xs-2 col-sm-2">Group</th>
                        <th class="col-xs-2 col-sm-2">Match</th>
                        <th class="col-xs-2 col-sm-2">Venue</th>
                        <th class="col-xs-2 col-sm-2">Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>7/14</td>
                        <td>3pm</td>
                        <td></td>
                        <td>Losers of two semi-finals</td>
                        <td>St Petersburg</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
     <div class="row" style="text-align:center;">
        <div class="col-xs-12 col-sm-12">
            <table  class="table table-hover table-bordered">
                <caption style="color:black;">FINAL</caption>
                <thead style="background-color:black;">
                    <tr>
                        <th class="col-xs-2 col-sm-2">Date</th>
                        <th class="col-xs-2 col-sm-2">Kick-off (BST)</th>
                        <th class="col-xs-2 col-sm-2">Group</th>
                        <th class="col-xs-2 col-sm-2">Match</th>
                        <th class="col-xs-2 col-sm-2">Venue</th>
                        <th class="col-xs-2 col-sm-2">Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>7/15</td>
                        <td>4pm</td>
                        <td></td>
                        <td>Winners of two semi-finals</td>
                        <td>Moscow (Luzhniki)</td>
                        <td>
                            <a href="/user/betstart" class="btn btn-primary btn-sm">Betting</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>